<h1>Listing curriculums</h1>

<table>
  <thead>
    <tr>
      <th>Candidate</th>
      <th>Received At</th>
      <th>Evaluated At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curriculums.each do |curriculum| %>
      <tr>
        <td><%= curriculum.candidate %></td>
        <td><%= curriculum.received_ate.strftime("%Y-%m-%d") %></td>
        <td><%= curriculum.evaluated_at.strftime("%Y-%m-%d") %></td>
        <td><%= link_to 'Show', curriculum %></td>
        <td><%= link_to 'Edit', edit_curriculum_path(curriculum) %></td>
        <td><%= link_to 'Destroy', curriculum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Curriculum', new_curriculum_path %>
