<h1>Listing curriculums</h1>

<table>
  <thead>
    <tr>
      <th>Candidate</th>
      <th>Evaluated At</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @curriculums.each do |curriculum| %>
      <tr>
        <td><%= link_to curriculum.candidate, curriculum %></td>        
        <td><%= curriculum.evaluated_at.strftime("%Y-%m-%d") %></td>
        <td><%= link_to 'Edit', edit_curriculum_path(curriculum) %></td>
        <td><%= link_to 'Destroy', curriculum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Curriculum', new_curriculum_path %>
